extends base

block content
    div(class="card text-center")
        div(class="card-header")
            h3 Resultado
        div(class="card-body")
            h5(class="card-title") As garrafas [#{garrafas}] enchem o galão de #{galao} litros!
            p(class="card-text") Sobram #{sobra} litros.
    br
    a(href="/" class="btn btn-primary d-grid col-6 mx-auto ") Voltar